{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}">
		<header class="main">
			<section class="wrapper">
				{% block header %}
					<a class="logo" href="{{ site.url }}" rel="home">
						{% if logo %}
							<img src="{{ logo }}" alt="{{ site.name }}" />
						{% else %}
							{{ site.name }}
						{% endif %}
					</a>

					{% if header_menu %}
					<nav class="main" role="navigation">
						{% include "menu.twig" with {'menu': header_menu.get_items} %}
					</nav>
					{% endif %}
				{% endblock %}
			</section>
		</header>

		<main class="content">
			{% if title %}<h1>{{title}}</h1>{% endif %}

			<section class="wrapper {{sidebar_class}}">
			{% block content %}
				Sorry, no content
			{% endblock %}
			</section>

			{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
			{% endif %}
		</main>

		{% block footer %}
		<footer class="main">
			<section class="wrapper">
				{% include 'footer.twig' %}
			</section>
		</footer>
		{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
