{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}">
		<header class="main">
			<section class="wrapper">
				{% block header %}
					<a class="logo" href="{{ site.url }}" rel="home">
						{% if logo %}
							<img src="{{ logo }}" alt="{{ site.name }}" />
						{% else %}
							{{ site.name }}
						{% endif %}
					</a>

					<a id="burger">=</a>

					{% if header_menu %}
						<nav class="main" role="navigation">
							{% include "menu.twig" with {'menu': header_menu.get_items} %}
						</nav>
					{% endif %}

					{% if social_menu %}
						<nav class="social">
							{% include "menu.twig" with {'menu': social_menu.get_items} %}
						</nav>
					{% endif %}

					{% if languages_menu %}
						<nav class="languages">
							{% include "menu.twig" with {'menu': languages_menu.get_items} %}
						</nav>
					{% endif %}
				{% endblock %}
			</section>
		</header>

		<main id="content" class="content">
			{% if title %}<h1>{{title}}</h1>{% endif %}

			<section class="wrapper {{sidebar_class}}">
			{% block content %}
				Sorry, no content
			{% endblock %}
			</section>

			{% if sidebar %}
			<aside class="sidebar">
				{{sidebar}}
			</aside>
			{% endif %}
		</main>

		{% block footer %}
		<footer class="main">
			<section class="wrapper">
				{% include 'footer.twig' %}
				{{ function('wp_footer') }}
			</section>
		</footer>
		{% endblock %}

		<script>
			var hide = false;
			var b = document.querySelector("#burger")
			var header = document.querySelector("header.main")
			var firstLink = document.querySelector("nav.main ul li a")
			var logo = document.querySelector("header.main .logo")

			function clickToggle(e) {
				if (e.target === firstLink && !hide) {
					return true
				}

				if (window.innerWidth < 1000) {
					e.preventDefault()
					header.classList.toggle("hide")
					hide = !hide		
					return false
				}
			}

			[header].forEach(function(link) {
				link.addEventListener("click", clickToggle)
			})

		</script>
	</body>
</html>
